.timer-container {
    color: white;
    border: 2px solid #f8f9fa; /* bright offwhite */
    border-radius: 10px;
    border-image: none;
    width: 55%;
    height: 600px;
    text-align: center;
    margin: auto;
    text-align: center;
    margin: auto;
    transition: box-shadow .2s ease-in;
}

.timer-container:hover {
    box-shadow:
        0 0 12px 2px #ffffff;
}

.timer-display {
    font-size: 14rem;
    margin-top: 50px;
}

