h1 {
  font-size: 4rem;
  text-align: center;
  background: linear-gradient(
    90deg,
    #12b60a 0%,
    #23c81a 30%,
    #da8b1c 60%,
    rgb(240, 125, 9) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

